/*
    color setup
*/

$bg-color-1:#000000;
$bg-color-2:#F8F8F8;
$bg-color-3:#E1B067;
$bg-color-4:#DEDDDC;
$bg-color-5:#cccccc;
$bg-linear-color-1:linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$bg-linear-color-2:linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);

$text-color-1:#fff;
$text-color-2:#000000;
$text-color-3:#1ED90E;
$text-color-4:#FC0303;


/*
    font-size setup
*/
$fz-1:16px;
$fz-2:20px;
$fz-3:24px;
$fz-4:30px;